* {
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}
.Body-Div {
    background-color: whitesmoke;
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 100vh;
}
.div-menu {
    background-color: violet;
    position: relative;
    width: 100vw;
    margin: 5%;
    border-radius: 50px;
}
.div-menu-tit {
    margin: 5%;
}
.menu-tit {
    color: royalblue;
}