* {
    box-sizing: border-box;
}
:root{
    --cor-azul-escuro: rgb(100, 130, 230)
}
body {
    background: linear-gradient(-45deg, rgb(19, 49, 183), rgb(0, 207, 117));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    margin: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
label {
    font: 110% sans-serif;
}
.Body-Div {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    justify-content: space-between;

}
.Menu-tit {
    margin-left: auto;
    margin-right: auto;
}
.Menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    margin: 1%;
}
.Button-menu {
    background-color: antiquewhite;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 10%;
    width: 25%;
    border-radius: 10px;
    box-shadow: 3px 2px 5px 0px black;
}
.Footer {
    background-image: linear-gradient(to bottom right, rgb(19, 49, 183), rgb(0, 207, 117));
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0px -5px 20px 0px rgb(20 30 81);
}
.IMC {
    display: none;
    background-color: rgb(178, 223, 219);
    /*box-shadow: inset 0px 0px 20px 20px rgba(0, 0, 0, 0.5);*/
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 5%;
    padding: 5%;
    border-radius: 50px;
}
.IMC > span {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.IMC > span > input {
    height: 50px;
    width: 100%;
}